[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tsinghua"

[packages]
openai = "1.93.0"
requests = "2.32.4"
langchain = "0.3.26"
langchain-community = "0.3.26"
langchain-core = "0.3.66"
langchain-openai = "0.3.27"
langchain-text-splitters = "0.3.8"
dashscope = "1.23.6"
ipykernel = "*"
jq = "*"
tencentcloud-sdk-python = "*"
pypdf = "*"
unstructured = {extras = ["docx", "doc"], version = "*"}
docx2txt = "*"
beautifulsoup4 = "*"
selenium = "*"
playwright = "*"
serpapi = "*"
google-search-results = "*"
langgraph = "*"
fastmcp = "*"
faiss-cpu = "*"
langchain-postgres = "*"
pymongo = "*"
langchain-experimental = "*"
chromadb = "*"
langchain-chroma = "*"
onnxruntime = "*"

[dev-packages]

[requires]
python_version = "3.13"
